.clojure/.cpcache

.emacs.d/.smex-items
.emacs.d/*~$
.emacs.d/places
.emacs.d/recentf
.emacs.d/.recentf
.emacs.d/ido.last
.emacs.d/cider-history
.emacs.d/projectile-bookmarks.eld
.emacs.d/projectile.cache
.emacs.d/auto-save-list
.emacs.d/backups
.emacs.d/elpa
.emacs.d/network-security
.emacs.d/network-security.data
.emacs.d/straight/*
!.emacs.d/straight/versions
.emacs.d/transient

.stack/build-plan
.stack/build-plan-cache
.stack/compiler-tools
.stack/indices
.stack/loaded-snapshot-cache
.stack/programs
.stack/setup-exe-cache
.stack/setup-exe-src
.stack/snapshots
.stack/templates
.stack/global-project/*
!.stack/global-project/README.txt
!.stack/global-project/stack.yaml