# Systemd service to start the Emacs Daemon on startup.
# To use, copy this file to
# ~/.config/systemd/user/emacs.service
# Note: It must be copied, not symlinked

[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=forking
ExecStart=/home/dking/bin/emacs --daemon
ExecStop=/home/dking/bin/emacsclient --eval "(kill-emacs)"
Environment=SSH_AUTH_SOCK=%t/keyring/ssh
Restart=on-failure

[Install]
WantedBy=default.target