{:aliases
 {:cider {:extra-deps {cider/cider-nrepl {:mvn/version "0.23.0-SNAPSHOT"}
                       nrepl/nrepl {:mvn/version "0.6.0"}}

          :main-opts ["-m" "nrepl.cmdline"
                      "--port" "3333"
                      "--middleware" "[cider.nrepl/cider-middleware]"]}}}
